@import './mixin.scss';



.cover {
   min-height: 60vh;
   @include grid;

   &__image {
      padding: 0.20rem;
      width: 25%;
      border-radius: 50%;

      @media screen and (max-width:1024px) {
         width: 45%;
      }

      @media screen and (max-width:768px) {
         width: 50%;
      }

      @media screen and (max-width:414px) {
         width: 70%;
      }
   }

   &__title {
      padding: 1rem 1rem 0.5rem 1rem;

   }

   &__artist {
      padding: 0.4rem;
      font-weight: 600;
   }


}