.navigate {
   // background-color: yellowgreen;
   min-height: 10vh;
   display: flex;
   justify-content: space-around;
   align-items: center;

   &__button {
      background-color: transparent;
      border: none;
      padding: 0.4rem;
      display: flex;
      place-items: center;
      gap: 5px;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;

      &:hover {
         background-color: rgba(155, 155, 155, 0.288);

      }

      &_active {
         outline: 2px solid rgb(61, 61, 61);

      }



      &:focus {
         outline: 2px solid rgb(61, 61, 61);

      }
   }

}