@import './mixin.scss';

.player__wrapper {
   min-height: 20vh;
   @include grid;

}




// Time Controll:

.timeControll {
   @include controll;
   justify-content: space-between;
   width: 30%;
   grid-template-columns: auto 1fr auto;
   cursor: pointer;

   &__input {
      width: 100%;
   }

   p {
      padding: 1rem;
   }
}

// Play Controll: 

.playControll {
   @include controll;
   justify-content: space-between;
   width: 25%;
   grid-template-columns: auto auto auto;

   svg {
      cursor: pointer;
   }
}