@import './mixin.scss';

.song {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   cursor: pointer;

   &:hover {
      background-color: rgba(39, 164, 120, 0.542);
      transition: background .3s ease-in-out;
   }

   &__image {
      width: 75%;
   }

   &__title {
      color: $font-red;
      font-size: 18px;
      font-weight: 600;
   }

   &__author {
      color: $font-black;
      font-size: 14px;
   }
}