@import './player';
@import './cover';
@import './library';
@import './song';
@import './mixin.scss';

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.app {
   font-family: 'Nunito', sans-serif;
   color: $font-black;

}