@mixin grid {
   display: grid;
   grid-template-rows: 1fr auto auto;
   align-items: center;
   justify-items: center;
}

@mixin controll {
   display: grid;
   grid-template-columns: auto auto auto;
   align-items: center;
   gap: 10px;



}

$font-black:rgb(22, 22, 22);
$font-red: rgb(163, 55, 55);